#game-wrapper.draw {
  #artboard {
    border: 5px solid rgb(136,178,216);
    -webkit-transition: border .5s;

    &.white_crayon { cursor: url(../white.png), auto; }
    &.black_crayon { cursor: url(../black.png), auto; }
    &.red_crayon { cursor: url(../red.png), auto; }
    &.orange_crayon { cursor: url(../orange.png), auto; }
    &.yellow_crayon { cursor: url(../yellow.png), auto; }
    &.yellowgreen_crayon { cursor: url(../yellowgreen.png), auto; }
    &.green_crayon { cursor: url(../green.png), auto; }
    &.lightskyblue_crayon { cursor: url(../lightskyblue.png), auto; }
    &.dodgerblue_crayon { cursor: url(../dodgerblue.png), auto; }
    &.violet_crayon { cursor: url(../violet.png), auto; }
    &.pink_crayon { cursor: url(../pink.png), auto; }
    &.burlywood_crayon { cursor: url(../burlywood.png), auto; }
    &.saddlebrown_crayon { cursor: url(../saddlebrown.png), auto; }
    &.brown_crayon { cursor: url(../brown.png), auto; }
  }
}

#artboard-wrapper {
  padding: 20px;
}

#artboard {
  background-color: white;
  border: 5px solid rgba(0, 0, 0, .1);
  -webkit-transition: border .5s;
}
