#artboard {
  background-color: white;
  vertical-align: middle;
  border: 5px solid rgba(0, 0, 0, .1);
  -webkit-transition: border .5s;

  &.focus {
    border: 5px solid rgb(136,178,216);
    -webkit-transition: border .5s;
  }
}

.red_crayon {
  cursor: url(../red.png), auto;
}

.blue_crayon {
  cursor: url(../blue.png), auto;
}

.green_crayon {
  cursor: url(../green.png), auto;
}

.pink_crayon {
  cursor: url(../pink.png), auto;
}

.yellow_crayon {
  cursor: url(../yellow.png), auto;
}
