#game-wrapper.draw {
  #artboard {
    border: 5px solid $highlight_color;
    @include transition(border .5s);

    @each $c in $crayons {
      &.#{$c}_crayon { cursor: url(#{$crayons_path}#{$c}.png), auto; }
    }
  }
}

#artboard-wrapper {
  padding: 20px;
}

#artboard {
  background-color: white;
  border: 5px solid rgba(0, 0, 0, .1);
  @include transition(border .5s);
}
