#page-wrapper.draw {
  #chat-container {
    #crayons {
      width: 50px;
      -webkit-transition: all .5s .3s;
    }

    #chat {
      right: 50px;
      -webkit-transition: all .5s .3s;
    }
  }
}

#chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;

  #crayons {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    overflow: hidden;
    background-color: rgb(229,229,229);
    -webkit-transition: all .5s .3s;

    h1 {
      text-align: center;
      width: 50px;
      font-weight: bolder;
      margin-top: 10px;
      color: rgba(0, 0, 0, .5);
      font-size: .6em;
    }

    #sizes {
      margin-bottom: 30px;

      a {
        background-color: black;
        display: block;
        border-radius: 2px;
        width: 30px;
        margin: 10px;
        -webkit-transition: all .5s;

        &.selected {
          background-color: rgb(136,178,216);
          -webkit-transition: all .5s;
        }
      }

      li.size-5 a {
        height: 5px;
      }

      li.size-10 a {
        height: 10px;
      }

      li.size-15 a {
        height: 15px;
      }

      li.size-20 a {
        height: 20px;
      }
    }

    #colors {
      a {
        width: 30px;
        height: 30px;
        display: block;
        margin: 7px;
        border: 3px solid rgb(229,229,229);
        -webkit-transition: all .5s;

        &.selected {
          border: 3px solid rgb(136,178,216);
          -webkit-transition: all .5s;
        }
      }

      li.white a { background-color: white; }
      li.black a { background-color: black; }
      li.red a { background-color: red; }
      li.orange a { background-color: orange; }
      li.yellow a { background-color: yellow; }
      li.yellowgreen a { background-color: yellowgreen; }
      li.green a { background-color: green; }
      li.lightskyblue a { background-color: lightskyblue; }
      li.dodgerblue a { background-color: dodgerblue; }
      li.violet a { background-color: violet; }
      li.pink a { background-color: pink; }
      li.burlywood a { background-color: burlywood; }
      li.saddlebrown a { background-color: saddlebrown; }
      li.brown a { background-color: brown; }
    }
  }

  #chat {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50px;
    background-color: white;
    -webkit-transition: all .5s .3s;

    #chat-input {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px;
      height: 40px;

      img {
        height: 40px;
        width: 40px;
        float: left;
        position: absolute;
        left: 5px;
        bottom: 5px;
      }

      input {
        height: 30px;
        font-size: 25px;
        position: absolute;
        right: 5px;
        left: 50px;
        bottom: 5px;
        padding: 5px;
        border: 0px;
        margin: 0;

        background-color: rgb(229, 229, 229);
        -webkit-transition: all .5s;

        &:focus {
          outline: 0;
          background-color: rgb(136, 178, 216);
          color: white;
          -webkit-transition: all .5s;

          &::-webkit-input-placeholder { color: white; }
          &::-moz-placeholder { color: white; }
          &:-moz-placeholder { color: white; }
          &:-ms-input-placeholder { color: white; }
        }
      }
    }

    #chat-messages {
      position: absolute;
      top: 0;
      bottom: 50px;
      left: 0;
      right: 0;
      overflow: auto;

      .drawing-done {
        position: relative;
        margin: 5px;

        .word {
          background-color: rgba(37, 127, 161, .5);
          display: inline;
          color: white;
          padding: 5px;
          position: absolute;
        }

        img.user {
          width: 50px;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .by {
          position: absolute;
          bottom: 0;
          background-color: rgba(0, 0, 0, .65);
          left: 55px;
          right: 0;
          color: white;
          padding: 5px;
        }
      }

      .message {
        margin: 10px 5px;

        img {
          float: left;
          padding-right: 5px;
        }

        p {
          background-color: rgba(128, 128, 128, .05);
          line-height: 30px;
          margin-left: 35px;
          padding: 0px 5px;
        }

        &.win p {
          background-color: rgba(0, 255, 0, .15);
        }
      }

      .server-message {
        margin: 10px 5px;
        font-size: .75em;
        color: gray;
        font-weight: lighter;

        text-indent: -10px;
        padding-left: 10px;
      }
    }
  }
}
