#games {
  width: 680px;
  float: left;

  .hard h1:after, .moderate h1:after, .easy h1:after {
    font-size: .4em;
    position: absolute;
    margin: 8px 10px;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
  }

  .hard h1:after {
    background-color: rgb(241, 127, 127);
    content: 'svår';
  }
  
  .moderate h1:after {
    background-color: #4D94AA;
    content: 'medel';
  }

  .easy h1:after {
    background-color: #40964E;
    content: 'lätt';
  }

  .game {
    background-color: white;
    -webkit-transition: background-color .3s;
    position: relative;

    &:hover {
      background-color: rgb(245, 245, 245);
      -webkit-transition: background-color .3s;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 5px;
      padding-top: 10px;
    }

    img {
      float: left;
      margin-right: 10px;
      height: 150px;

      border: 2px solid rgb(245, 245, 245);
      border-radius: 3px;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .description { margin: 5px; }

    .players {
      position: absolute;
      bottom: 8px;
      left: 214px;

      .player {
        position: relative;
        display: inline;

        img {
          height: 35px;
          margin: 4px 5px 0px 0px;
        }

        .name {
          display: none;
          background-color: rgba(0, 0, 0, .8);
          color: white;
          padding: 5px;
          white-space: nowrap;
          font-size: .8em;
          position: absolute;
          left: -42px;
          top: -22px;
        }

        &:hover .name { display: block; }
      }
    }
  }

  #load-games {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 18px;
    font-weight: lighter;

    img { height: 12px; margin-right: 5px; }
  }
}
