#games {
  width: 600px;
  float: left;

  .hard-difficulty h1:after, .moderate-difficulty h1:after, .easy-difficulty h1:after {
    font-size: .4em;
    position: absolute;
    margin: 8px 10px;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
  }

  .hard-difficulty h1:after {
    background-color: rgb(241, 127, 127);
    content: 'svår';
  }
  
  .moderate-difficulty h1:after {
    background-color: #4D94AA;
    content: 'medel';
  }

  .easy-difficulty h1:after {
    background-color: #40964E;
    content: 'lätt';
  }

  .game {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 5px;
    }

    img {
      float: left;
      margin-right: 10px;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
