#game-wrapper {
  opacity: 0;
  -webkit-transition: all 1s;
}

body.game #game-wrapper {
  opacity: 1;
  -webkit-transition: all 1s;
}

#gameplan {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
  background-color: rgba(242,242,242,1);
  right: 0;
  text-align: center;
  overflow: auto;
}

#word-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, .5);
  z-index: 1000;

  #word {
    background-color: rgba(0, 184, 255, .5);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 200px;

    .text {
      font-weight: lighter;
    }

    .word {
      font-size: 3em;
      font-weight: bolder;
      display: block;
    }
  }

  &.small {
    height: 50px;
    bottom: 0;
    top: auto;
    background-color: rgba(0, 0, 0, 0);

    #word {
      font-size: .5em;
      font-weight: lighter;
      padding: 5px;
      width: 250px;
      margin: 0 auto;
      margin-top: -8px;

      -webkit-transition: all .5s;

      .text {
        font-size: 0;
        -webkit-transition: all .5s;
      }
    }
  }
}

#drawing-player {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 4px;

  img {
    height: 20px;
    margin-bottom: -5px;
  }

  span {
    margin-left: 5px;
    padding: 2px 4px;
    font-size: .85em;
    color: rgb(70, 68, 68);
    background-color: rgb(229,229,229);
    -webkit-transform: all .5s;
  }
}

.draw #drawing-player span {
  background-color: rgb(136, 178, 216);
  color: white;
  -webkit-transform: all .5s;
}
