#gameplan {
  position: absolute;
  top: 52px;
  bottom: 0;
  width: 75%;
  background-color: rgba(242,242,242,1);
  right: 0;
  text-align: center;
  line-height: 650px; // TODO Set with javascript
}
