body {
  background-color: rgba(168, 168, 168, .15);
  font-family: sans-serif;
}

header {
  width: 1000px;
  margin: 20px auto;

  h1 {
    font-size: 3em;
  }

  p {
    margin: 10px 0;
    font-size: 1.2em;
  }
}

#main {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

#page-wrapper {
  -webkit-filter: blur(0px);
  -webkit-transition: -webkit-filter .3s;

  &.blur {
    -webkit-filter: blur(1px);
    -webkit-transition: -webkit-filter .4s;
  }
}
