body {
  background-color: rgba(168, 168, 168, .15);
  font-family: sans-serif;
}

header {
  width: 1000px;
  margin: 20px auto;

  h1 {
    font-size: 3em;
  }

  p {
    margin: 10px 0;
    font-size: 1.2em;
  }
}

#main {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  @include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, .1));

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

#page-wrapper {
  @include filter(blur(0px));
  @include transition(filter .3s);

  &.blur {
    @include filter(blur(1px));
    @include transition(filter .4s);
  }
}

.hide-wrapper { display: none; }

#page-wrapper {
  @include transform(scale(1));
  @include transition(transform 1s);
}

body.game #page-wrapper {
  @include transform(scale(0));
  @include transition(transform 1s);
}
