#sidebar {
  width: 310px;
  float: right;
  margin-left: 10px;
}

#facebook {
  min-height: 50px;
  padding: 10px;
  background-color: rgb(53,96,158);
  color: white;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  .f {
    font-size: 3.5em;
    float: left;
    padding-left: 10px;
  }

  a#fb-login-button {
    margin: 19px 0px 0px 69px;
    display: block;
  }

  #fb-user-data {
    img {
      float: left;
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}

#highscore {
  h1 {
    font-size: 2em;
    margin: 20px 0 10px 0;
  }

  li {
    margin-bottom: 10px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .name {
      font-size: 1.5em;
      display: block;
      margin-bottom: 5px;
    }

    img {
      float: left;
      margin-right: 5px;
    }
  }
}
