@-webkit-keyframes PROGRESS {
  0%   { width: 0%; }
  100% { width: 100%; }
}

#timer {
  background-color: rgba(196, 196, 196, .2);
  height: 28px;
  width: 100%;
  position: relative;
  text-align: left;

  #timer-progress {
    background-color: red;
    height: 8px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;

    @include background(linear-gradient(135deg, #ff4949 0%,#f3f722 16%,#f3f722 21%,#22f730 31%,#22eff9 43%,#22eff9 49%,#5850f4 67%,#f722f0 83%,#e2391f 100%));

    &:after {
      content: '';
      background-color: rgba(231, 231, 231, .95);
      border-radius: 0 2px 2px 0;
      height: 12px;
      float: right;
      width: 100%;
    }

    @for $m from 2 through 5 {
      &.min-#{$m}:after { -webkit-animation: PROGRESS #{$m * 60}s; }
    }
  }
}
