<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext "Skissa och gissa" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, static_file(@conn, :css)) %>">
  </head>

  <body>
    <header class="site_header">
      <div class="site_header__wrapper">
        <%=
          link(
            gettext("Skissaochgissa.se"),
            to: page_path(@conn, :index),
            class: "site_header__logo"
          )
        %>

        <nav class="site_header__nav">
          <ul>
            <li><%= link gettext("Games"), to: page_path(@conn, :index) %></li>
            <li><a href="#"><%= gettext "Highscore" %></a></li>
            <li><%= link gettext("Admin"), to: page_path(@conn, :admin) %></li>
            <li>
              <a class="site_header__nav__signin" href="">
                <span><%= gettext "Sign in" %></span>
                <%= icon(:sign_in) %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <%= flash_element @conn, :info, class: "alert alert--info", role: "alert" %>
    <%= flash_element @conn, :error, class: "alert alert--danger", role: "alert" %>

    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, static_file(@conn, :js)) %>"></script>
  </body>
</html>
