<div class="drawing-done">
  <div class="word">{{word}}</div>
  <img src="{{img}}" alt="{{word}}" style="width: 100%">
  <img src="gfx/nopic50.png" alt="" class="user" />
  <div class="by">{{name}}</div>
</div>
