<h1>Game Over</h1>
<ul>
  {{#each players}}
  <li>
    <img src="{{picture}}">
    <div class="player-info">
      <span class="name">{{name}}</span>
      <span class="score">{{score}}</span>
    </div>
  </li>
  {{/each}}
</ul>
