<header>
  <h1>Skissa och gissa</h1>
  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</header>

<main id="main">
  <div id="games">
    Spelen laddas...
  </div>

  <aside id="sidebar">
    <div id="fb-root"></div>
    <div id="facebook">
      <span class="f">f</span>
      <a href="#" id="fb-login-button">Logga in med Facebook</a>
    </div>
    <div id="highscore">
      <h1>Highscore</h1>
      <ul>
        <li>
          <img src="gfx/nopic50.png" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="gfx/nopic50.png" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="gfx/nopic50.png" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="gfx/nopic50.png" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="gfx/nopic50.png" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
      </ul>
    </div>
  </aside>
</main>

<footer id="footer">Webbplatsen är skapad av <a href="#">Christian Nilsson</a>.</footer>
