<main id="main">
  <div id="games">
    <article class="game">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  </div>

  <aside id="sidebar">
    <div id="fb-root"></div>
    <div id="facebook">
      För att kunna utnyttja alla funktioner måste du <a href="#" id="fb-login-button">logga in</a>.
    </div>
    <div id="highscore">
      <h1>Highscore</h1>
      <ul>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
      </ul>
    </div>
  </aside>
</main>
