<header>
  <h1>Skissa och gissa</h1>
  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</header>

<main id="main">
  <div id="games">
    <article class="game" data-name="spelikategori0">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game" data-name="spelikategori1">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game" data-name="spelikategori2">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game" data-name="spelikategori3">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  
    <article class="game" data-name="spelikategori4">
      <img src="http://lorempixel.com/100/100" alt="En kategori">
      <h1>En kategori</h1>
      <p>2 runder spelade.</p>
    </article>
  </div>

  <aside id="sidebar">
    <div id="fb-root"></div>
    <div id="facebook">
      För att kunna utnyttja alla funktioner måste du <a href="#" id="fb-login-button">logga in</a>.
    </div>
    <div id="highscore">
      <h1>Highscore</h1>
      <ul>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
        <li>
          <img src="http://lorempixel.com/50/50" alt="Foo Bar">
          <span class="name">Foo Bar</span>
          <span class="score">1245131 poäng</span>
        </li>
      </ul>
    </div>
  </aside>
</main>

<footer>...</footer>
