<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
  <title>{{settings.title}}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <div id="word-wrapper"><div id="word"><span class="text">Din tur att rita</span><span class="word">Cyckel</span></div></div>

    <!--
  <header>
    <h1>Skissa och gissa</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </header>
  -->

  {{{body}}}

  <!--
  <footer>...</footer>
  -->

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Utils -->
  <script src="/javascript/handlebar.js"></script>
  <script src="/utils/html.js"></script>
  <script src="/utils/Subscriber.js"></script>
  <script src="/utils/Channel.js"></script>
  <script src="/utils/Mediator.js"></script>
  <!-- Templates -->
  <script src="/templates/facebook.js"></script>
  <script src="/templates/message.js"></script>
  <script src="/templates/servermessage.js"></script>
  <!-- Artboard -->
  <script src="/browser/Point.js"></script>
  <script src="/browser/points.js"></script>
  <script src="/browser/artboard.js"></script>
  <!-- Player -->
  <script src="/shared/Player.js"></script>
  <script src="/browser/Player.js"></script>
  <!-- Room -->
  <script src="/shared/Room.js"></script>
  <script src="/browser/Room.js"></script>
  <!-- chat -->
  <script src="/browser/chat.js"></script>
  <!-- Javascript -->
  <script src="/javascript.js"></script>
</body>
</html>
