<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
  <title>{{settings.title}}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <div id="page-wrapper">
    {{{body}}}
  </div>

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Sugar -->
  <script src="/javascript/sugar.js"></script>
  <!-- Handlebar -->
  <script src="/javascript/handlebar.js"></script>
  <!-- Javascript -->
  <script src="/javascript/Skissa-och-gissa.min.js"></script>
</body>
</html>
