<div id="game-user-info">
  <h1>En kategori</h1>
  <div class="players">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img class="you" src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
    <img src="http://lorempixel.com/50/50">
  </div>
</div>
<div class="line"></div>

<div id="chat">
  <div id="chat-messages"></div>
  <div id="chat-input">
    <img src="http://lorempixel.com/50/50">
    <input type="text" placeholder="Gissa på ett ord..">
  </div>
</div>

<div id="gameplan">
  <canvas id="artboard" width="800" height="600"></canvas>
</div>
