<div id="chat-container">
  <div id="game-user-info">
    <div class="players">
    </div>
  </div>

  <div id="chat">
    <div id="chat-messages"></div>
    <div id="chat-input">
      <img src="gfx/nopic50.png">
      <input type="text" placeholder="Gissa på ett ord.." autofocus>
    </div>
  </div>
  <div id="crayons">
    <h1>KRITA</h1>
    <ul id="sizes">
      <li class="size-5"><a href="#" data-size="5"></a></li>
      <li class="size-10"><a href="#" data-size="10"></a></li>
      <li class="size-15"><a href="#" data-size="15"></a></li>
      <li class="size-20"><a href="#" data-size="20"></a></li>
    </ul>
    <h1>FÄRG</h1>
    <ul id="colors">
      <li class="white"><a href="#" data-color="white"></a></li>
      <li class="black"><a href="#" data-color="black"></a></li>
      <li class="red"><a href="#" data-color="red"></a></li>
      <li class="orange"><a href="#" data-color="orange"></a></li>
      <li class="yellow"><a href="#" data-color="yellow"></a></li>
      <li class="yellowgreen"><a href="#" data-color="yellowgreen"></a></li>
      <li class="green"><a href="#" data-color="green"></a></li>
      <li class="lightskyblue"><a href="#" data-color="lightskyblue"></a></li>
      <li class="dodgerblue"><a href="#" data-color="dodgerblue"></a></li>
      <li class="violet"><a href="#" data-color="violet"></a></li>
      <li class="pink"><a href="#" data-color="pink"></a></li>
      <li class="burlywood"><a href="#" data-color="burlywood"></a></li>
      <li class="saddlebrown"><a href="#" data-color="saddlebrown"></a></li>
      <li class="brown"><a href="#" data-color="brown"></a></li>
    </ul>
  </div>
</div>

<div id="gameplan">
  <div id="timer">
    <div id="timer-progress"></div>
  </div>
  <div id="artboard-wrapper">
    <canvas id="artboard" width="800" height="600"></canvas>
  </div>
</div>
