@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../scss/_main.scss */
body {
  background-color: rgba(168, 168, 168, 0.15);
  font-family: sans-serif;
}

/* line 6, ../../scss/_main.scss */
header {
  width: 1000px;
  margin: 20px auto;
}
/* line 10, ../../scss/_main.scss */
header h1 {
  font-size: 3em;
}
/* line 14, ../../scss/_main.scss */
header p {
  margin: 10px 0;
  font-size: 1.2em;
}

/* line 20, ../../scss/_main.scss */
#main {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
/* line 28, ../../scss/_main.scss */
#main:after {
  display: block;
  content: "";
  clear: both;
}

/* line 35, ../../scss/_main.scss */
#page-wrapper {
  -webkit-filter: blur(0px);
  -webkit-transition: -webkit-filter .3s;
}
/* line 39, ../../scss/_main.scss */
#page-wrapper.blur {
  -webkit-filter: blur(1px);
  -webkit-transition: -webkit-filter .4s;
}

/* line 1, ../../scss/_games.scss */
#games {
  width: 600px;
  float: left;
}
/* line 5, ../../scss/_games.scss */
#games .hard h1:after, #games .moderate h1:after, #games .easy h1:after {
  font-size: .4em;
  position: absolute;
  margin: 8px 10px;
  padding: 2px 4px;
  border-radius: 3px;
  color: white;
}
/* line 14, ../../scss/_games.scss */
#games .hard h1:after {
  background-color: #f17f7f;
  content: 'svår';
}
/* line 19, ../../scss/_games.scss */
#games .moderate h1:after {
  background-color: #4D94AA;
  content: 'medel';
}
/* line 24, ../../scss/_games.scss */
#games .easy h1:after {
  background-color: #40964E;
  content: 'lätt';
}
/* line 30, ../../scss/_games.scss */
#games .game:not(:last-child) {
  margin-bottom: 20px;
}
/* line 34, ../../scss/_games.scss */
#games .game h1 {
  font-size: 2em;
  margin-bottom: 5px;
}
/* line 39, ../../scss/_games.scss */
#games .game img {
  float: left;
  margin-right: 10px;
}
/* line 44, ../../scss/_games.scss */
#games .game:after {
  content: "";
  display: block;
  clear: both;
}

/* line 1, ../../scss/_sidebar.scss */
#sidebar {
  width: 390px;
  float: right;
  margin-left: 10px;
}

/* line 7, ../../scss/_sidebar.scss */
#facebook {
  min-height: 50px;
  padding: 10px;
  background-color: #3b5998;
  color: white;
}
/* line 13, ../../scss/_sidebar.scss */
#facebook a {
  color: white;
  text-decoration: none;
}
/* line 17, ../../scss/_sidebar.scss */
#facebook a:hover {
  text-decoration: underline;
}
/* line 23, ../../scss/_sidebar.scss */
#facebook #fb-user-data img {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
/* line 30, ../../scss/_sidebar.scss */
#facebook #fb-user-data h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 38, ../../scss/_sidebar.scss */
#highscore h1 {
  font-size: 2em;
  margin: 20px 0 10px 0;
}
/* line 43, ../../scss/_sidebar.scss */
#highscore li {
  margin-bottom: 10px;
}
/* line 46, ../../scss/_sidebar.scss */
#highscore li:after {
  display: block;
  content: "";
  clear: both;
}
/* line 52, ../../scss/_sidebar.scss */
#highscore li .name {
  font-size: 1.5em;
  display: block;
  margin-bottom: 5px;
}
/* line 58, ../../scss/_sidebar.scss */
#highscore li img {
  float: left;
  margin-right: 5px;
}

/* line 1, ../../scss/_game-user-info.scss */
#game-user-info {
  padding: 5px;
  width: 40px;
  background-color: rgba(48, 48, 48, 0.9);
  -webkit-box-shadow: inset -5px 0px 20px -10px black;
  box-shadow: inset -5px 0px 20px -10px black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
/* line 15, ../../scss/_game-user-info.scss */
#game-user-info h1 {
  display: block;
  float: left;
  font-size: 2em;
  font-weight: bold;
  margin-top: 5px;
}
/* line 23, ../../scss/_game-user-info.scss */
#game-user-info .players {
  margin-left: -1px;
}
/* line 26, ../../scss/_game-user-info.scss */
#game-user-info .players .player {
  position: relative;
  margin: 5px 0;
}
/* line 30, ../../scss/_game-user-info.scss */
#game-user-info .players .player img {
  width: 40px;
}
/* line 32, ../../scss/_game-user-info.scss */
#game-user-info .players .player .information {
  position: absolute;
  top: 0;
  left: -220px;
  font-size: .9em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 200px;
  padding: 5px;
  opacity: 0;
  -webkit-transition: left .3s .1s, opacity .3s;
}
/* line 44, ../../scss/_game-user-info.scss */
#game-user-info .players .player .information .name {
  display: block;
  padding-bottom: 1px;
}
/* line 49, ../../scss/_game-user-info.scss */
#game-user-info .players .player .information .points {
  font-size: .7em;
  margin-top: 5px;
  display: block;
}
/* line 56, ../../scss/_game-user-info.scss */
#game-user-info .players .player:hover .information {
  opacity: 1;
  left: 48px;
  -webkit-transition: left .3s, opacity .4s .1s;
}
/* line 63, ../../scss/_game-user-info.scss */
#game-user-info .players .player.you .information .name {
  display: none;
}
/* line 65, ../../scss/_game-user-info.scss */
#game-user-info .players .player.you .information .points {
  padding: 5px;
  margin: 0px;
  font-size: 1.4em;
}

/* line 3, ../../scss/_chat.scss */
#page-wrapper.draw #chat-container #crayons {
  width: 50px;
  -webkit-transition: all .5s .3s;
}
/* line 8, ../../scss/_chat.scss */
#page-wrapper.draw #chat-container #chat {
  right: 50px;
  -webkit-transition: all .5s .3s;
}

/* line 15, ../../scss/_chat.scss */
#chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
}
/* line 21, ../../scss/_chat.scss */
#chat-container #crayons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0px;
  overflow: hidden;
  background-color: #e5e5e5;
  -webkit-transition: all .5s .3s;
}
/* line 31, ../../scss/_chat.scss */
#chat-container #crayons h1 {
  text-align: center;
  width: 50px;
  font-weight: bolder;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: .6em;
}
/* line 40, ../../scss/_chat.scss */
#chat-container #crayons #sizes {
  margin-bottom: 30px;
}
/* line 43, ../../scss/_chat.scss */
#chat-container #crayons #sizes a {
  background-color: black;
  display: block;
  border-radius: 2px;
  width: 30px;
  margin: 10px;
  -webkit-transition: all .5s;
}
/* line 51, ../../scss/_chat.scss */
#chat-container #crayons #sizes a.selected {
  background-color: #88b2d8;
  -webkit-transition: all .5s;
}
/* line 57, ../../scss/_chat.scss */
#chat-container #crayons #sizes li.size-5 a {
  height: 5px;
}
/* line 61, ../../scss/_chat.scss */
#chat-container #crayons #sizes li.size-10 a {
  height: 10px;
}
/* line 65, ../../scss/_chat.scss */
#chat-container #crayons #sizes li.size-15 a {
  height: 15px;
}
/* line 69, ../../scss/_chat.scss */
#chat-container #crayons #sizes li.size-20 a {
  height: 20px;
}
/* line 75, ../../scss/_chat.scss */
#chat-container #crayons #colors a {
  width: 30px;
  height: 30px;
  display: block;
  margin: 7px;
  border: 3px solid #e5e5e5;
  -webkit-transition: all .5s;
}
/* line 83, ../../scss/_chat.scss */
#chat-container #crayons #colors a.selected {
  border: 3px solid #88b2d8;
  -webkit-transition: all .5s;
}
/* line 89, ../../scss/_chat.scss */
#chat-container #crayons #colors li.white a {
  background-color: white;
}
/* line 90, ../../scss/_chat.scss */
#chat-container #crayons #colors li.black a {
  background-color: black;
}
/* line 91, ../../scss/_chat.scss */
#chat-container #crayons #colors li.red a {
  background-color: red;
}
/* line 92, ../../scss/_chat.scss */
#chat-container #crayons #colors li.orange a {
  background-color: orange;
}
/* line 93, ../../scss/_chat.scss */
#chat-container #crayons #colors li.yellow a {
  background-color: yellow;
}
/* line 94, ../../scss/_chat.scss */
#chat-container #crayons #colors li.yellowgreen a {
  background-color: yellowgreen;
}
/* line 95, ../../scss/_chat.scss */
#chat-container #crayons #colors li.green a {
  background-color: green;
}
/* line 96, ../../scss/_chat.scss */
#chat-container #crayons #colors li.lightskyblue a {
  background-color: lightskyblue;
}
/* line 97, ../../scss/_chat.scss */
#chat-container #crayons #colors li.dodgerblue a {
  background-color: dodgerblue;
}
/* line 98, ../../scss/_chat.scss */
#chat-container #crayons #colors li.violet a {
  background-color: violet;
}
/* line 99, ../../scss/_chat.scss */
#chat-container #crayons #colors li.pink a {
  background-color: pink;
}
/* line 100, ../../scss/_chat.scss */
#chat-container #crayons #colors li.burlywood a {
  background-color: burlywood;
}
/* line 101, ../../scss/_chat.scss */
#chat-container #crayons #colors li.saddlebrown a {
  background-color: saddlebrown;
}
/* line 102, ../../scss/_chat.scss */
#chat-container #crayons #colors li.brown a {
  background-color: brown;
}
/* line 106, ../../scss/_chat.scss */
#chat-container #chat {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50px;
  background-color: white;
  -webkit-transition: all .5s .3s;
}
/* line 115, ../../scss/_chat.scss */
#chat-container #chat #chat-input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  height: 40px;
}
/* line 123, ../../scss/_chat.scss */
#chat-container #chat #chat-input img {
  height: 40px;
  width: 40px;
  float: left;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
/* line 132, ../../scss/_chat.scss */
#chat-container #chat #chat-input input {
  height: 30px;
  font-size: 25px;
  position: absolute;
  right: 5px;
  left: 50px;
  bottom: 5px;
  padding: 5px;
  border: 0px;
  margin: 0;
  background-color: #e5e5e5;
  -webkit-transition: all .5s;
}
/* line 146, ../../scss/_chat.scss */
#chat-container #chat #chat-input input:focus {
  outline: 0;
  background-color: #88b2d8;
  color: white;
  -webkit-transition: all .5s;
}
/* line 152, ../../scss/_chat.scss */
#chat-container #chat #chat-input input:focus::-webkit-input-placeholder {
  color: white;
}
/* line 153, ../../scss/_chat.scss */
#chat-container #chat #chat-input input:focus::-moz-placeholder {
  color: white;
}
/* line 154, ../../scss/_chat.scss */
#chat-container #chat #chat-input input:focus:-moz-placeholder {
  color: white;
}
/* line 155, ../../scss/_chat.scss */
#chat-container #chat #chat-input input:focus:-ms-input-placeholder {
  color: white;
}
/* line 160, ../../scss/_chat.scss */
#chat-container #chat #chat-messages {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: auto;
}
/* line 168, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .drawing-done {
  position: relative;
  margin: 5px;
}
/* line 172, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .drawing-done .word {
  background-color: rgba(37, 127, 161, 0.5);
  display: inline;
  color: white;
  padding: 5px;
  position: absolute;
}
/* line 180, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .drawing-done img.user {
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 187, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .drawing-done .by {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  left: 55px;
  right: 0;
  color: white;
  padding: 5px;
}
/* line 198, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .message {
  margin: 10px 5px;
}
/* line 201, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .message img {
  float: left;
  padding-right: 5px;
}
/* line 206, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .message p {
  background-color: rgba(128, 128, 128, 0.05);
  line-height: 30px;
  margin-left: 35px;
  padding: 0px 5px;
}
/* line 213, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .message.win p {
  background-color: rgba(0, 255, 0, 0.15);
}
/* line 218, ../../scss/_chat.scss */
#chat-container #chat #chat-messages .server-message {
  margin: 10px 5px;
  font-size: .75em;
  color: gray;
  font-weight: lighter;
}

/* line 1, ../../scss/_gameplan.scss */
#gameplan {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
  background-color: #f2f2f2;
  right: 0;
  text-align: center;
  overflow: auto;
}

/* line 12, ../../scss/_gameplan.scss */
#word-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 1000;
}
/* line 21, ../../scss/_gameplan.scss */
#word-wrapper #word {
  background-color: rgba(0, 184, 255, 0.5);
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
}
/* line 29, ../../scss/_gameplan.scss */
#word-wrapper #word .text {
  font-weight: lighter;
}
/* line 33, ../../scss/_gameplan.scss */
#word-wrapper #word .word {
  font-size: 3em;
  font-weight: bolder;
  display: block;
}
/* line 40, ../../scss/_gameplan.scss */
#word-wrapper.small {
  height: 50px;
  bottom: 0;
  top: auto;
  background-color: rgba(0, 0, 0, 0);
}
/* line 46, ../../scss/_gameplan.scss */
#word-wrapper.small #word {
  font-size: .5em;
  font-weight: lighter;
  padding: 5px;
  width: 250px;
  margin: 0 auto;
  margin-top: -8px;
  -webkit-transition: all .5s;
}
/* line 56, ../../scss/_gameplan.scss */
#word-wrapper.small #word .text {
  font-size: 0;
  -webkit-transition: all .5s;
}

/* line 2, ../../scss/_artboard.scss */
#page-wrapper.draw #artboard {
  border: 5px solid #88b2d8;
  -webkit-transition: border .5s;
}

/* line 8, ../../scss/_artboard.scss */
#artboard-wrapper {
  padding: 20px;
}

/* line 12, ../../scss/_artboard.scss */
#artboard {
  background-color: white;
  border: 5px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: border .5s;
}

/* line 18, ../../scss/_artboard.scss */
.red_crayon {
  cursor: url(../red.png), auto;
}

/* line 22, ../../scss/_artboard.scss */
.blue_crayon {
  cursor: url(../blue.png), auto;
}

/* line 26, ../../scss/_artboard.scss */
.green_crayon {
  cursor: url(../green.png), auto;
}

/* line 30, ../../scss/_artboard.scss */
.pink_crayon {
  cursor: url(../pink.png), auto;
}

/* line 34, ../../scss/_artboard.scss */
.yellow_crayon {
  cursor: url(../yellow.png), auto;
}

@-webkit-keyframes PROGRESS {
  /* line 2, ../../scss/_timer.scss */
  0% {
    width: 0%;
  }

  /* line 3, ../../scss/_timer.scss */
  100% {
    width: 100%;
  }
}

/* line 6, ../../scss/_timer.scss */
#timer {
  background-color: rgba(196, 196, 196, 0.2);
  height: 28px;
  width: 100%;
  position: relative;
  text-align: left;
}
/* line 13, ../../scss/_timer.scss */
#timer #timer-progress {
  background-color: red;
  height: 8px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;
  background: #ff4949;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff4949 0%, #f3f722 16%, #f3f722 21%, #22f730 31%, #22eff9 43%, #22eff9 49%, #5850f4 67%, #f722f0 83%, #e2391f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff4949), color-stop(16%, #f3f722), color-stop(21%, #f3f722), color-stop(31%, #22f730), color-stop(43%, #22eff9), color-stop(49%, #22eff9), color-stop(67%, #5850f4), color-stop(83%, #f722f0), color-stop(100%, #e2391f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ff4949 0%, #f3f722 16%, #f3f722 21%, #22f730 31%, #22eff9 43%, #22eff9 49%, #5850f4 67%, #f722f0 83%, #e2391f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ff4949 0%, #f3f722 16%, #f3f722 21%, #22f730 31%, #22eff9 43%, #22eff9 49%, #5850f4 67%, #f722f0 83%, #e2391f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ff4949 0%, #f3f722 16%, #f3f722 21%, #22f730 31%, #22eff9 43%, #22eff9 49%, #5850f4 67%, #f722f0 83%, #e2391f 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ff4949 0%, #f3f722 16%, #f3f722 21%, #22f730 31%, #22eff9 43%, #22eff9 49%, #5850f4 67%, #f722f0 83%, #e2391f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4949', endColorstr='#e2391f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 31, ../../scss/_timer.scss */
#timer #timer-progress:after {
  content: '';
  background-color: rgba(231, 231, 231, 0.95);
  border-radius: 0 2px 2px 0;
  height: 12px;
  float: right;
  -webkit-animation: PROGRESS 60s infinite;
}

/* line 1, ../../scss/_popup.scss */
#popup-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(92%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#cc000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  z-index: 100000;
  opacity: 0;
  -webkit-transition: all .3s .1s;
}
/* line 20, ../../scss/_popup.scss */
#popup-wrapper #popup {
  width: 400px;
  background-color: white;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 4px 4px 3px 3px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0);
  -webkit-transition: all .5s;
}
/* line 32, ../../scss/_popup.scss */
#popup-wrapper #popup .title {
  background-color: #2babbd;
  padding: 8px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
}
/* line 41, ../../scss/_popup.scss */
#popup-wrapper #popup .message {
  padding: 5px;
  font-size: .95em;
}
/* line 45, ../../scss/_popup.scss */
#popup-wrapper #popup .message ul {
  font-size: .85em;
  list-style: disc;
  margin: 0px 15px;
}
/* line 50, ../../scss/_popup.scss */
#popup-wrapper #popup .message ul li {
  margin: 5px;
}
/* line 56, ../../scss/_popup.scss */
#popup-wrapper #popup .extra {
  font-size: .75em;
  color: #525252;
  padding: 5px;
  text-align: center;
}
/* line 64, ../../scss/_popup.scss */
#popup-wrapper.show {
  opacity: 1;
  -webkit-transition: all .3s .1s;
}
/* line 68, ../../scss/_popup.scss */
#popup-wrapper.show #popup {
  -webkit-transform: scale(1);
  -webkit-transition: all .5s;
}
