<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext "Skissa och gissa" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header id="site-header">
      <div class="wrapper">
        <a href="#" class="logo"><%= gettext "Skissaochgissa.se" %></a>

        <nav role="navigation">
          <ul>
            <li><a href="#"><%= gettext "Games" %></a></li>
            <li><a href="#"><%= gettext "Highscore" %></a></li>
            <li>
              <a href="#" class="signin">
                <span><%= gettext "Sign in" %></span>
                <%= icon(:sign_in) %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
