<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <%= for tag <- meta_tags("Skissa och gissa"), do: meta_tag tag %>
    <title><%= gettext "Skissa och gissa" %></title>
    <link rel="stylesheet" href="<%= css_path(@conn) %>">
  </head>

  <body>
    <header id="site-header">
      <div class="wrapper">
        <%=
          link(
            gettext("Skissaochgissa.se"),
            to: page_path(@conn, :index),
            class: "logo"
          )
        %>

        <%= render "navigation.html", conn: @conn %>
      </div>
    </header>

    <%= flash_element @conn, :info, class: "alert alert-info", role: "alert" %>
    <%= flash_element @conn, :error, class: "alert alert-danger", role: "alert" %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= js_path(@conn) %>"></script>
  </body>
</html>
