#image-wrapper {
  width: 1100px;
  margin: 70px auto;
  font-family: sans-serif;
  @include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.1));

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  img {
    float: left;
    background-color: white;
  }

  #sidebar {
    float: right;
    width: 300px;
    height: 600px;
    position: relative;
    margin: 0;
    
    background-color: rgba(48, 48, 48, 0.9);
    @include box-shadow(inset 8px 0px 16px -10px black);

    h1 {
      padding: 20px;
      color: white;
      font-size: 2em;
      text-transform: capitalize;
    }

    #meta {
      padding-left: 20px;
      color: white;
      font-weight: lighter;
      font-size: .9em;

      a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(43, 171, 189, .4);
        @include transition(all 1s);
        &:hover { border-bottom: 1px solid white; }
      }
    }

    .save-btn {
      margin: 5px;
      background-color: rgba(43,171,189,1);
      padding: 10px;
      color: white;
      text-decoration: none;
      @include transition(all .5s);
      border-radius: 3px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      font-size: 1.1em;
      text-align: center;

      &:hover {
        @include transition(all .5s);
        background-color: rgb(72, 190, 206);
      }
    }
  }
}
