<li class="player">
  <div class="image">
    <span class="position"><%= @player.position %></span>
    <img src="<%= @player.avatar %>" alt="">
  </div>
  <div>
    <div class="name"><%= @player.name %></div>
    <div class="score">
      <%= ngettext "1 point", "%{count} points", @player.score %>
    </div>
  </div>
</li>
