.Message__Text {
  &__body {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
  }

  &__user {
    font-size: .7em;
    padding: 5px 0 0 10px;
  }
}

.Message__MissingCommand {
  color: red;
  font-size: .8em;
  text-align: center;
}
