#footer {
  margin-top: 10px;
  text-align: center;
  font-size: .75em;
  color: rgb(138, 138, 138);

  a {
    color: rgb(97, 97, 97);
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
