/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$highlight_color: rgb(136,178,216);

$crayons: white black red orange yellow yellowgreen green lightskyblue dodgerblue violet pink burlywood saddlebrown brown;
$crayons_path: '../gfx/';
$crayons_sizes: 5 10 15 20;

@import "main";

// Front page
@import "games";
@import "sidebar";
@import "footer";

// Game
@import "game-user-info";
@import "chat";
@import "gameplan";
@import "artboard";
@import "timer";
@import "gameover";

// Popup
@import "popup";

// Image
@import "show-image";
@import "show-all-images";

#flash-message {
  background-color: #689C68;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  color: white;
}











main h1 {
  font-size: 1.9em;
  margin-bottom: 10px;
}

main h2, main h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

main h2 {
  font-size: 1.5em;
}

main h3 {
  font-size: 1.2em;
}

main p {
  margin-bottom: 10px;
}

#permissions {
  background-color: rgba(128, 128, 128, .1);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 30px;
}

.permission {
  display: flex;
  justify-content: space-between;
}

.permission i.fa.fa-check-circle-o, .permission i.fa.fa-times-circle-o {
  padding: 5px 7px 0 0;
  font-size: 2em;
}

.permission i.fa.fa-check-circle-o { color: green; }
.permission i.fa.fa-times-circle-o { color: #AF4B4B; }

#revoce-authorization {
  background-color: #BF3636;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
}

#revoce-authorization:hover {
  background-color: #943030;
}

#revoce-authorization .confirm {
  font-size: .7em;
  margin-top: 5px;
}

