/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$highlight_color: rgb(136,178,216);

$crayons: white black red orange yellow yellowgreen green lightskyblue dodgerblue violet pink burlywood saddlebrown brown;
$crayons_path: '../gfx/';
$crayons_sizes: 5 10 15 20;

@import "main";

// Front page
@import "games";
@import "sidebar";
@import "footer";

// Game
@import "game-user-info";
@import "chat";
@import "gameplan";
@import "artboard";
@import "timer";
@import "gameover";

// Popup
@import "popup";

// Image
@import "show-image";
@import "show-all-images";

#flash-message {
  background-color: #689C68;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  color: white;
}
