// Main color used on the site. It is also used for the site header.
@main-color: #488C53;

// Color used for scores and highscore etc.
@score-color: #F5A623;

// Color of ordinary links.
@link-color: #4A90E2;

// Global site settings.
@site-width: 1024px;
@site-bg-color: #ECECEC;

// Header settings.
@header-text-color: white;
